*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 0, 58);
}
.count{
    color: white;
    padding: 2rem;
    font-size: 4rem;
}
.btns{
    display: flex;
    column-gap: 10px;
}
button{
    border: 5px solid white;
    padding: 20px 40px;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #14003a;
    cursor: pointer;
    transition: all 0.3s;
}
@media screen and (max-width: 500px) {
    button{
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
button:hover{
    background-color: #14003a;
    color: white;
}
button:active{
    background-color: white;
    color: #14003a;
}
button:nth-child(2){
    background-color: #f47f18;
    border: 5px solid #f47f18;
}
button:nth-child(2):hover{
    background-color: #14003a;
    color: #f47f18;
}
button:nth-child(2):active{
    background-color: #f47f18;
    color: #14003a;
}
.selecting-counter{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-top: 1.6rem;
}
@media screen and (max-width: 547px) {
    .selecting-counter{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.selecting-counter p{
    color: white;
    font-size: 20px;
}
.selecting-counter input{
    padding: 10px;
    font-size: 1rem;
    color: black;
}
